body {
	margin: 0;
	padding: 0;
	background: #898989;
	color: #ffffff;
	font-family: helvetica, sans-serif;
}
main {
	padding: 2em;
}
h1 {
	font-size: 2em;
	font-weight: 400;
	margin: 0;
}
h2 {
	font-size: 1em;
	margin: 0;
}
img {
	max-width: 50%;
	height: auto;
	margin-top: 2em;
	padding-left; 5em;
}
p {
	margin: 0;
}
