body {
	margin: 0;
	padding: 0;
	background: #eacaff;
	color: #383838;
	font-family: helvetica, sans-serif;
}
main {
	padding: 1em;
}
h1 {
	font-size: 3em;
	font-weight: 400;
	margin: 0;
}
h2 {
	font-size: 9pt;
	margin: 0;
}
p {
	margin: 0;
}
